.top-header{
    background: $colorGreen;
    padding: 10px 0;
    .col-md-4:last-child{
        text-align: right;
    }
    .social-media{
        color: $colorWhite;
        display: inline-flex;
        @include respond (tab-port-before){
            width: 100%;
            justify-content: center;        
        }
        span{
            text-transform: capitalize;
        }
        ul{
            margin-bottom: 0;
            li{
                display: inline-block;
                line-height: 1;
                &:not(:last-child){
                    padding-right: 8px;
                }
                a{
                    color: $colorWhite;
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .top-navigation {
        @include respond (tab-port-before){
            width: 100%;
            text-align: center;        
        }
       ul{
        margin-bottom: 0;
        padding-left: 0;
        li{
            display: inline-block;
            line-height: 1;
            &:not(:last-child){
                padding-right: 8px;
                margin-right: 8px;
                border-right: 1px solid rgba($colorWhite, $alpha: 0.5);
            }
            a{
                color: $colorWhite;
                text-transform: capitalize;
                font-size: 14px;
            }
        }
       }
    }
}

.navbar {
        .navbar-brand{
            img{
                width: 15rem;
            }
        }
        i.fa-solid.fa-bars{
            @include respond (tab-land-before){
                color: $colorWhite;
            }
        }
        .navbar-toggler {
            &:focus {
                border: none !important;
                box-shadow: none;
            }
        }

        .dropdown {
            &:hover {
                .dropdown-menu {
                    @include respond (tab-land-after) {
                        display: block;
                    }
                }
            }
        }

        .navbar-nav {
            .nav-item {
                &:nth-child(1){
                    a{
                        color: $colorRed;
                    }
                }
                
                &:nth-child(2){
                    .dropdown-menu{
                        li{
                            border-bottom-color: $colorGreen!important;
                        }
                    }
                    a{
                        color: $colorGreen;
                    }
                }
                
                &:nth-child(3){
                    .dropdown-menu{
                        li{
                            border-bottom-color: $colorOrange!important;
                        }
                    }
                    a{
                        color: $colorOrange;
                    }
                }
                
                &:nth-child(4){
                    .dropdown-menu{
                        li{
                            border-bottom-color: $colorPurple!important;
                        }
                    }
                    a{
                        color: $colorPurple;
                    }   
                }
                
                &:nth-child(5){
                    a{
                        color: $colorBlue;
                    }
                }
                
                &:nth-child(6){
                    a{
                        color: $colorDarkRed;
                    }
                }
                &:not(:last-child){
                    padding-right: 2rem;
                }
                a{
                    font-weight: 700;
                }
                ul.dropdown-menu{
                    border: none;
                    border-radius: 0;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    padding: 0 1rem;
                    li{
                        &:not(:last-child){
                            border-bottom: 1px solid;
                        }
                        a{
                                padding-bottom: 5px;
                            margin-bottom: 5px;
                            padding-top: 5px;
                            }
                    }
                    a{
                        font-size: 1.6rem;
                        font-weight: 500;
                        &:focus{
                            background: $colorSecondary;
                            color: $colorWhite;
                        }
                    }
                }
            }
        }

        &.fixed-top {
            top: -40px;
            transform: translateY(40px);
            transition: transform .3s;
            background: $colorWhite;
        }
    }