.hero-area{
    .carousel-inner, .carousel{
        height: 100%;
    }
    .carousel-item {
    transition:  opacity 0.3s ease-in-out;
        position: relative;
        min-height: calc(100vh - 90px);
        &::before{
            content: "";
            background: rgba(#000, $alpha: 0.7);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
    }
    img.d-block{
        min-height: calc(100vh - 90px);
        object-fit: cover;
        object-position: center;
    }
}
.carousel-control-prev-icon{
    transform: rotate(180deg);
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-image: url(../images/right-arrow-01.png);
    width: 5rem;
    height: 5rem;
    @media screen and (max-width:768px) {
        width: 2rem;
        height: 2rem;
    }
}
.carousel-caption {
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    @media screen and (min-width:1200px) {
    width: calc(100% - 50rem);
    }
    width: calc(100% - 20rem);
}
}
.campus-estimate{
    .estemate-form{
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgba(0,0,0,.05);
    position: relative;
    @media screen and (min-width:992px){
        margin-top: -200px;
        width: calc(100% - 8rem);
    }
    @media screen and (max-width:991.9px){
        margin-top: 4rem;
    }
    z-index: 1;
    margin-left: auto;
    .heading-fourth{
        margin-bottom: 3rem;
    }
    .form-group {
    margin-bottom: 25px;
    textarea{
        height: auto!important;
    }
    .form-control{
        height: 55px;
    border: 1px solid $colorWhitBG;
    font-size: 1.6rem;
    padding-left: 15px;
    background-color: $colorWhitBG;
    &:focus{
        border-color: $colorPrimary;
        box-shadow: none;
    }
    }
}
}
.primary-heading{
    @media screen and (min-width:992px) {
        text-align: left;
    }
}
.primary-list{
    column-count: 2;
    margin-top: 2rem;
    @media screen and (max-width:768px) {
        column-count: 1;
    }
}
.affiliate-counter {
    background: $colorSecondary;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 2rem;
    h6.numb{
        font-size: 6rem;
        font-weight: 700;
        color: $colorWhite;
        @media screen and (max-width:768px) {
            font-size: 3rem;
        }
    }
    span.details{
        font-size: 1.6rem;
        color: $colorWhite;
    }
}
}
.director-section{
    background-image: url(../images/propectus-bg.jpg);
    position: relative;
    background-attachment: fixed;
    padding: 10rem 0;
     @include respond(tab-land-before){
      padding: 5rem 0;
    }
    @include respond(tab-port-before){
      padding: 3rem 0;
    }
    &::before{
        content: "";
        background: $colorSecondary;
        opacity: 0.8;
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    .container{
        position: relative;
        .col-md-12{
            display: flex;
    align-items: center;
    @media screen and (max-width:992px) { 
        flex-direction: column;
    }
        }
    }
    .sunita-pics{
        float: left;
        width: calc(50rem - 15rem);
        @media screen and (max-width:575px) {
            width: calc(100% - 30px);
        }
        @media screen and (min-width:768.1px) {
            width: calc(50rem - 10rem);
            height: calc(100% - 10px);
        }
        img{
    object-fit: cover;
    object-position: center;
    outline: 5px solid $colorWhite;
    border: 5px solid $colorPrimary;
    @media screen and (max-width:992px) {
        border-radius: 50%;
        aspect-ratio: 1;
        margin-bottom: 3rem;
    }
    @media screen and (min-width:992.1px) {
            height: 100%;
        }
        }
    }
    .content-para{
        @media screen and (min-width:992px) {
            float: right;
        width: calc(100% - 40rem);
        }
        padding: 4rem 5rem;
    background: $colorWhite;
        color: $colorSecondary;
        h4{
            color: $colorSecondary;
            text-transform: capitalize;
    margin-bottom: 3rem;
        }
        a{
            margin-top: 3rem;
        }
    }
}
.leadership{
    .leadership-card{
        background: $colorWhitBG;
        padding: 3rem;
        position: relative;
        transition: $transition;
        &::before{
            content: "";
            background: $colorPrimary;
            height: 3px;
            width: 0;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: $transition;
        }
        &:hover{
            transform: translateY(-5px);
            &::before{
                opacity: 1;
                width: 100%;
            }
        }
        &__heading{
            display: inline-flex;
            gap: 2rem;
            align-items: baseline;
            i{
                color: $colorPrimary;
                font-size: 3rem;
            }
        }
        &__body{
            .text-center{
                margin-top: 2rem;
            }
        }
    }
}
.our-campus{
    @media screen and (min-width:768px) {
        h2{
            text-align: left;
        }
        .col-md-7{
            padding-left: 4rem;
        }
    }
    .campus-card{
        box-shadow: 0 0 20px 3px rgba(0,0,0,.05);
        background: $colorWhite;
        // @media screen and (min-width:992px) {
        //     width: calc(100% - 8rem);
        // }
        &__image{
            display: block;
            img{
                max-height: 30rem;
                object-fit: cover;
                object-position: top;
            }
        }
        &__content{
            padding: 3rem 0 3rem 0;
            span{
                display: none;
                text-align: right;
                a{
                border: 1px solid $colorSecondary;
                color: $colorSecondary;
    padding: 7px 20px;
    border-radius: 30px;
            }
            }
        }
    }
    .owl-nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
    button span{
        background: $colorPrimary;
        margin-left: 5px;
        aspect-ratio: 1;
        width: 3rem;
        display: flex;
        color: #fff;
        line-height: 1;
        align-items: center;
        justify-content: center;

    }
}
}