* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    // This defines what 1rem is
    font-size: 62.5%;
  }
  body{
    background-color: $colorWhite;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  
.owl-nav {
    position: absolute;
    top: -40px;
    right: 0;
    button{
      &:last-child{
        margin-left: 6px;
      }
    }
    i{
      color: $colorWhite;
      background: $colorPrimary;
      padding: 8px;
    }
}