@mixin clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

@mixin GlobalButtonOne{
    background-color: $colorPrimary;
    color: #fff;
    font-size: 16px;
    padding: 13px 35px;
    border-radius: 0;
    position: relative;
    transition: all ease .5s;
    border: 1px solid $colorPrimary;
    z-index: 1;
    &::before {
    position: absolute;
    content: "";
    background-color: $colorSecondary;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: all ease .5s;
    z-index: -1;
}
&:hover{
    color: $colorWhite;
    &::before{
        transform: scaleX(1);
    }
}
&:active, &:focus-visible{
    color: $colorWhite!important;
}
}
@mixin GlobalButtonTwo{
    background-color: $colorPrimary;
    color: #fff;
    font-size: 16px;
    padding: 13px 35px;
    border-radius: 0;
    position: relative;
    transition: all ease .5s;
    border: 1px solid $colorPrimary;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 500;
    &::before {
    position: absolute;
    content: "";
    background-color: $colorSecondary;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: all ease .5s;
    z-index: -1;
}
&:hover{
    color: $colorWhite;
    &::before{
        transform: scaleX(1);
    }
}
&:active, &:focus-visible{
    color: $colorWhite!important;
}
}
